/* line 6, ../../app/assets/stylesheets/layout.css.scss */
.container {
  width: 710px;
}

/* line 10, ../../app/assets/stylesheets/layout.css.scss */
body {
  background: #ccffff;
}

/* line 14, ../../app/assets/stylesheets/layout.css.scss */
header {
  padding-top: 20px;
}
/* line 16, ../../app/assets/stylesheets/layout.css.scss */
header img {
  padding: 1em;
  background: white;
}

/* line 23, ../../app/assets/stylesheets/layout.css.scss */
section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: white;
}
/* line 28, ../../app/assets/stylesheets/layout.css.scss */
section h1 {
  font-size: 200%;
}

/* Links */
/* line 36, ../../app/assets/stylesheets/layout.css.scss */
a {
  color: #0099cc;
  text-decoration: none;
}
/* line 39, ../../app/assets/stylesheets/layout.css.scss */
a:hover {
  color: #006699;
  text-decoration: underline;
}
/* line 43, ../../app/assets/stylesheets/layout.css.scss */
a:visited {
  color: #006699;
}

/* Excessive button */
/* line 52, ../../app/assets/stylesheets/layout.css.scss */
a.signup_button {
  margin: 0 auto;
  display: block;
  width: 190px;
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -ms-box-shadow: inset 0 1px 0 0 #96ca6d;
  -o-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
  padding: 20px;
}
/* line 83, ../../app/assets/stylesheets/layout.css.scss */
a.signup_button:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  -ms-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  -o-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}
/* line 92, ../../app/assets/stylesheets/layout.css.scss */
a.signup_button:hover {
  background-color: #76b347;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
  background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
  background-image: linear-gradient(top, #76b347, #5e9e2e);
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
  -o-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer;
}

/* Navigation */
/* line 113, ../../app/assets/stylesheets/layout.css.scss */
nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}
/* line 118, ../../app/assets/stylesheets/layout.css.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 121, ../../app/assets/stylesheets/layout.css.scss */
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
/* line 125, ../../app/assets/stylesheets/layout.css.scss */
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
/* line 128, ../../app/assets/stylesheets/layout.css.scss */
nav ul li a:visited {
  color: #0099cc;
}
/* line 131, ../../app/assets/stylesheets/layout.css.scss */
nav ul li a:hover {
  text-decoration: underline;
}

/* Round corners */
/* line 141, ../../app/assets/stylesheets/layout.css.scss */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* User show page */
/* line 149, ../../app/assets/stylesheets/layout.css.scss */
.profile {
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

/* line 155, ../../app/assets/stylesheets/layout.css.scss */
.main {
  width: 60%;
  padding: 1em;
  float: left;
}
/* line 159, ../../app/assets/stylesheets/layout.css.scss */
.main img.gravatar {
  border: 1px solid #999;
}

/* line 165, ../../app/assets/stylesheets/layout.css.scss */
.sidebar {
  width: 30%;
  padding: 1em;
  float: right;
  background: #ffc;
}

/* User sign up page */
/* line 174, ../../app/assets/stylesheets/layout.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 178, ../../app/assets/stylesheets/layout.css.scss */
#error_explanation {
  width: 500px;
  border: 2px solid #cc0000;
  margin: 40px 0 20px 0;
}
/* line 182, ../../app/assets/stylesheets/layout.css.scss */
#error_explanation h2 {
  padding: 5px;
  background-color: #cc0000;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
/* line 189, ../../app/assets/stylesheets/layout.css.scss */
#error_explanation ul li {
  list-style: square;
}

/* line 194, ../../app/assets/stylesheets/layout.css.scss */
.field_with_errors {
  background-color: #ff9999;
  width: 185px;
  padding: 5px;
}

/* Footer */
/* line 203, ../../app/assets/stylesheets/layout.css.scss */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin: 1em auto;
}
/* line 208, ../../app/assets/stylesheets/layout.css.scss */
footer nav {
  float: none;
}
